/* Colors */
:root {
  --amtheme-color-black: #272727;
  --amtheme-color-white: #fbfef9;
  --amtheme-color-red: #a71d31;
  --amtheme-color-blue: #0e79b2;
  --amtheme-color-orange: #f39237;
}

/* Fonts */
:root {
  --amtheme-font-default: "Raleway", sans-serif;
}

/* Container Width */
:root {
  --amtheme-width-container-xs: 100%;
  --amtheme-width-container-sm: 540px;
  --amtheme-width-container-md: 720px;
  --amtheme-width-container-lg: 960px;
  --amtheme-width-container-xl: 1140px;
  --amtheme-width-container-xxl: 1320px;
}


