@import "includes/scssvars";

body {
  background: var(--amtheme-color-white);
  color: var(--amtheme-color-black);
  font-family: var(--amtheme-font-default);
  font-size: 16px;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: var(--amtheme-color-blue);
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  font-weight: 500;
}

.am-container {
  max-width: var(--amtheme-width-container-xxl);
  padding: 0 25px;
  margin: 0 auto;
}
