<header class="site-header">
	<div class="am-container">
		<div class="site-header__inner">

			<a class="site-header__logo" href="{{site.home_url}}" rel="home">
				{{site.name}}
			</a>

			{{function('amtheme_header_menu')}}

		</div>
	</div>
</header>
